certifi==2020.12.5
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mkl-fft==1.2.0
mkl-random==1.0.2
mkl-service==2.3.0
numpy==1.19.2
six==1.15.0
Werkzeug==1.0.1
