<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/vendors/normalize.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/vendors/Grid.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/resources/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
          rel="stylesheet">
    <title>Neural Style Project</title>
</head>

<body>
<header>
    <nav>
        <div class="row"></div>
    </nav>
    <div class="hero-text-box">
        <h1>Neural style audio transfer is cool!<br>Try it out below for yourself.</h1>
        <a class="btn btn-ghost" href="upload_style">Upload Style audio</a>
        <!-- need to provide some way of choosing what file to upload. -->
        <!-- If you want, I can show u a example of a POST request that I tested with that succeeds -->
        <a class="btn btn-ghost" href="upload_content">Upload Content audio</a>
        <a class="btn btn-full" href="transfer">Convert!</a>
    </div>

</header>

</body>

</html>
