<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='styles/vendors/normalize.css') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='/styles/vendors/Grid.css')}}">
        <link rel="stylesheet" type="text/css"
              href="{{url_for('static', filename='/styles/resources/style.css')}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
              rel="stylesheet">
        <title>Neural Style Project</title>
    </head>

    <body>
        <header>
<!--
            <nav>
                <div class="row"> </div>
            </nav>
-->

<!--
            <div class="resouces-box">
                <a class="resource-link" href="https://software.intel.com/content/www/us/en/develop/articles/neural-style-transfer-on-audio-signals.html" > Resources </a>
            </div>
-->

            <div class="hero-text-box">
                <h1>Neural style audio transfer is cool!<br>Try it out below for yourself.</h1>
<!--
                <a class="btn btn-ghost" href="#">Upload Style audio</a>
                <a class="btn btn-ghost" href="#">Upload Content audio</a>
-->
                <! =================================================STYLE UPLOAD==========================================================>
                <input type="file" id="actual-btn" hidden/>

                <label for="actual-btn">Choose Style File</label>

                <span id="file-chosen">No file chosen</span>

                <script>
                    const actualBtn = document.getElementById('actual-btn');

                    const fileChosen = document.getElementById('file-chosen');

                    actualBtn.addEventListener('change', function(){
                      fileChosen.textContent = this.files[0].name
                    })
                </script>

                <!/*=================================================CONTENT UPLOAD==========================================================>

                <input type="file" id="actual-btn1" hidden/>

                <label for="actual-btn1">Choose Content File</label>

                <span id="file-chosen1">No file chosen</span>

                <script>
                    const actualBtn1 = document.getElementById('actual-btn1');

                    const fileChosen1 = document.getElementById('file-chosen1');

                    actualBtn1.addEventListener('change', function(){
                      fileChosen1.textContent = this.files[0].name
                    })
                </script>
                <a class="btn btn-full"  href="#">Convert!</a>
            </div>
            <div class="desc-text-box">

            <p>
                   This program takes the neural style of the style audio you upload and modifies the content audio to match the style of the style audio.<br><br>PS: Files longer than 30s will be shortened down to 30s.
                </p>

            </div>

            <div class="credit-box">
                Created By - Kenneth Miura, Pranjal Bajaria, Shuvam Das, Thuhin Nandakumar, Mahak
                Khurmi and Sasha Voitovych

            </div>

        </header>

    </body>

</html>
